.footer {
  font-size: 14px;
  font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
  background-color: rgba(139,189,68,0.2) !important;
  margin-top: 160px;

  .disclaimer {
    padding-bottom: 50px;
    p {
      max-width: 90%;
      color: #846f64;
      font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
      font-size: 14px;
      margin: 0 auto;
    }
  }

  .bottom {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    .secton {
      display: flex;
      align-items: center;
      padding-bottom: 30px;

      > p, > a {
        margin-left: 8px;
        padding-right: 8px;
        border-right: solid #846f64 1px;
        &:last-child {
          border-right: none;
        }
        &:first-child {
          margin-left: 0;
        }
      }

      p {
        color: #846f64;
      }

      a {
        color: #c81246;
      }
    }
  }


}
